<div class="card__wrapper">
  <div class="card">
    <i class="fas fa-wallet icon"></i>
    <div>
      {{ accountBasicDetails.balance }}
    </div>
  </div>
  <div class="card">
    <i class="fas fa-wallet icon"></i>
    <div>
      {{ accountBasicDetails.income }}
    </div>
  </div>
  <div class="card">
    <i class="fas fa-wallet icon"></i>
    <div>
      {{ accountBasicDetails.savings }}
    </div>
  </div>
  <div class="card">
    <i class="fas fa-wallet icon"></i>
    <div>
      {{ accountBasicDetails.expenses }}
    </div>
  </div>
</div>
